body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(220, 15%, 55%);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 320px;
  max-height: 500px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
}

.border-12 {
  border-radius: 12px;
}

p.bold-text {
  font-weight: 700;
  font-size: 19px;
}
p.normal-text {
  font-weight: 400;
}
p.color-text_dark_blue {
  color: hsl(218, 44%, 22%);
}

p.color-text_grey {
  color: hsl(212, 45%, 89%);
}

p {
  font-size: 15px;
}

p.align-center {
  text-align: center;
}
